<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Izin yang diperlukan -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="United States APP"
        android:roundIcon="@drawable/ic_logo2"
        android:supportsRtl="true"
        android:theme="@style/Theme.Statesapp"
        android:forceDarkAllowed="false"
        tools:targetApi="31">

    <!-- API Key Google Maps -->
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyAxeKS7vE9WXXDcAJmbc8_gkxI07QMOQdc" />

    <!-- SplashActivity -->
    <activity
        android:name=".SplashActivity"
        android:exported="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <!-- MainActivity -->
    <activity
        android:name=".MainActivity"
        android:label="Daftar Negara Bagian Amerika Serikat"
        android:configChanges="orientation|screenSize"
        android:exported="true"/>

    <!-- StateDetailActivity -->
    <activity
        android:name=".StateDetailActivity"
        android:label="@string/title_state_detail"
        android:configChanges="orientation|screenSize"
        android:exported="true"/>
</application>

    </manifest>
